# Receptionist login managed from environment variables
DEFAULT_RECEPTIONIST_EMAIL=receptionist@hotel.com
DEFAULT_RECEPTIONIST_PASSWORD=FrontDesk123!
DEFAULT_RECEPTIONIST_FIRST_NAME=Front
DEFAULT_RECEPTIONIST_LAST_NAME=Desk
DEFAULT_RECEPTIONIST_PHONE=+2348012345678
DEFAULT_RECEPTIONIST_THEME=light
DEFAULT_RECEPTIONIST_IS_ACTIVE=true
DEFAULT_RECEPTIONIST_SYNC_PASSWORD=true
