# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Database
db.sqlite3
*.sqlite3
*.db

# macOS
.DS_Store

# Migrations cache
*/migrations/__pycache__/

# Static files collected
staticfiles/

# Node.js
node_modules/

# Frontend build output
static/dist/
